html
  font-size: 62.5%
  font-family: "helvetica"

body
  text-align: center
  font-family: 'Montserrat', sans-serif

.flex
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

@media screen and (min-width: 1080px)
  body
    width: 1080px
    margin-left: auto
    margin-right: auto
